@import "Pages.css";
@import "Forms.css";

body {
    max-width: 800px;
}

.head > header {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 50px;
}

.article {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.article_head {
    text-align: left;
    position: relative;
    border-bottom: solid #1c1f33;
    border-width: 1px;
}

.article_title {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    box-sizing: border-box;
}

.article_author {
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
}

.article_format {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 10px;
}
