body {
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    color: #2f2f2f;
    background-color: #f9f7f1;
    max-width: 1000px;
    margin: auto;
}

.head {
    margin-top: 70px;
    text-align: center;
    position: center;
}

.head > header {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.subhead {
    display: flex;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    padding: 3px 0;
    border: solid #1c1f33;
    border-width: 2px 0;
}

.subhead > div {
    flex: 1;
    padding: 8px;
    border: solid #1c1f33;
    border-width: 1px 0;
}

.subhead > div > a:hover {
    font-size: 120%;
}

form {
    display: block;
    margin-block-start: 20px;
}

.operation_form {
    display: inline;
}

.operation_form > button {
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.operation_form > button:hover {
    background-color: transparent;
    border: none;
    font-size: 120%;
}

textarea {
    margin-top: 20px;
    width: 99%;
    height: 200px;
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    line-height: 25px;
    background-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}

a {
    text-decoration: none;
    color: #2f2f2f;
}

a:hover {
    color: #094ec0;
}
