@import "Pages.css";
@import "Forms.css";

form {
    display: block;
    margin-block-start: 20px;
}

textarea {
    margin-top: 20px;
    width: 99%;
    height: 200px;
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    line-height: 25px;
    background-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}
