/*
operation_form包含于subhead内
这个表单提交操作信息，对后端文件内容的变动
 */
.operation_form {
    display: inline;
}

.operation_form > button {
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.operation_form > button:hover {
    cursor: pointer;
    color: #094ec0;
    font-size: 120%;
}

/* 为包含select标签的表单样式 */
.select_form {
    display: inline;
}

.select_form > label > select {
    /* 这个标签不能按照body样式显示，把body的样式抄过来 */
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    text-align: left;
    background-color: transparent;
    border: 0;  /* 取消显示边框 */
    /*appearance: none; !* 用于取消显示小三角形 *!*/
}

.select_form > label > select:hover {
    cursor: pointer;
}
