@import "Pages.css";
@import "Forms.css";

.art_ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 20px;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.art_ul > li {
    position: relative;
    display: inline-block;
    padding: 28px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 38px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    line-height: normal;
    width: 100%;
    word-break: break-word; /* 自动换行 */
}

.art_ul > li > div {
    margin-inline-start: 30px;
    margin-inline-end: 30px;
}

.article_head {
    text-align: left;
    position: relative;
    border-bottom: solid #1c1f33;
    border-width: 1px;
}

.article_title {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    box-sizing: border-box;
}

.article_author {
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
}

.article_format {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 控制第几行加省略号 */
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
