@import "Pages.css";
@import "Forms.css";

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 20px;
    text-align: center;
    margin-block-end: 100px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

ul > li {
    position: relative;
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    line-height: 50px;
    width: 80%;
    word-break: break-word; /* 自动换行 */
    text-align: left;
}
