<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Article.css') }}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    {# js的全局变量 #}
    <script type="text/javascript">let lan = {{ page_info.subhead_lan | tojson }}</script>
    {# 显示当前时间 #}
    <script type="text/javascript" src="/static/js/time_dis.js"></script>
    {# 下拉框选中后直接提交 #}
    <script type="text/javascript" src="/static/js/form_submit.js"></script>
    <title>{{ feed_key }}</title>
</head>
<body>
<div class="head">
    <header>
        <a href="/{{ original_link }}">{{ feed_key }}</a>
    </header>
    {# 子标题 #}
    <div class="subhead">
        <div>
            {# form表单，便于在文章页面切换文章，'id'用于在js中获取该form标签 #}
            <form id="form_submit" method="post" class="art_form">
                <label>
                    <a href="/{{ feed_key }}"><i class="fa fa-arrow-left"></i></a>
                    <a href="{{ page_info.github }}"><i class="fa fa-github"></i></a>
                    <i class="fa fa-hashtag"></i>
                </label>
                {# 'name'用于在'app.py'中提取select标签的选中值，'onchange'当select标签内容变化调用该方法 #}
                <label>
                    <select name="art_id" onchange="auto_submit()">
                        {% for art in articles %}
                            {% if art.art_id == article.art_id %}
                                {# select标签默认显示当前文章的id #}
                                <option title="{{ art.title }}" value="{{ art.art_id }}"
                                        selected>{{ art.art_id }}</option>
                            {% else %}
                                <option title="{{ art.title }}" value="{{ art.art_id }}">{{ art.art_id }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
            </form>
            {# 文章的总数量 #}
            /{{ article.total }}
        </div>
        {# 显示当前时间 #}
        <div id="times">......</div>
        <div>
            {# 原文地址的链接 #}
            <a href="{{ article.link }}">
                <i class="fa fa-paperclip"></i>
                {{ page_info.link_to_origin }}
            </a>
        </div>
    </div>
</div>
{# 文章的主体部分 #}
<div class="article">
    {# 文章头，包括：标题、发布时间、作者 #}
    <div class="article_head">
        <p>
            {# 文章的标题 #}
            <a class="article_title" href="{{ article.link }}">{{ article.title }}</a>
        </p>
        {# 文章的发布时间 #}
        <p>{{ article.time }}</p>
        <p>
            {# 文章的作者 #}
            {% if article.author != None %}
                {# 判断：当作者信息不为空时才显示作者 #}
                <span class="article_author">{{ page_info.author }}{{ article.author }}</span>
            {% endif %}
        </p>
    </div>
    <div class="article_format">
        {# 文章的内容，safe过滤器为了能正常显示变量内的html标签 #}
        {{ article.content | safe }}
    </div>
</div>
</body>
</html>