<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/Main.css') }}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    {# js的全局变量 #}
    <script type="text/javascript">let lan = {{ page_info.subhead_lan | tojson }}</script>
    {# 显示当前时间 #}
    <script type="text/javascript" src="/static/js/time_dis.js"></script>
    <title>{{ page_info.title }}</title>
</head>
<body>
<div class="head">
    <header>{{ page_info.title }}</header>
    {# 子标题 #}
    <div class="subhead">
        {# 显示文章的总数量 #}
        <div>
            <a href="{{ page_info.github }}" title="{{ page_info.github }}" class="fa fa-github"></a>
        </div>
        {# 显示当前时间 #}
        <div id="times"><i class="fa fa-spinner fa-pulse"></i></div>
        <div>
            <a href="/edit" title="{{ page_info.edit }}" class="fa fa-pencil"></a>
            <form method="post" class="operation_form">
                <button class="fa fa-arrow-circle-down" title="{{ page_info.download }}" type="submit" name="operation" value="download"></button>
            </form>
            <form method="post" class="operation_form">
                <button class="fa fa-trash" title="{{ page_info.remove }}" type="submit" name="operation" value="remove"></button>
            </form>
        </div>
    </div>
</div>
<ul>
    {% for key, value in feed_list.items() %}
        <li>
            <a href="/{{ key }}" title="{{ value }}">{{ key }}</a>
        </li>
    {% endfor %}
</ul>
</body>
</html>